/* BASE = RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(177, 92, 31, 0.808);
  color: black; }

/* VIEWS = CODIGO PARTICIONADO DE CADA SECCION/PAGE/VIEW */
h1 {
  text-align: center;
  margin: 6rem;
  padding: 2rem;
  font-size: 4em; }
